.main {
  min-height: 90vh;
  background-image: url('/assets/avengers_background.jpg');
      background-repeat: no-repeat;
      background-size: 100% 110%;
        display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: "Courier New", Courier, monospace;
        
}

.card{
  opacity: 1;
}

.footer {
  display: flex;
  padding: 2rem 0;
  background-color: black;
  color: aquamarine;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: cyan;
  font-weight: 900;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 1.72rem 0;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
}

.opensea_link{
    color: antiquewhite;
      padding: 10px;
      margin: 1.75rem 0 !important;
      background: indigo;
      text-decoration: none;
}
.button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #ffffff;
  margin-top: 18px;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  /* margin-bottom: 2%; */
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0 15px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}